{% extends 'base.html' %}
{% block title %}BusinessCardScanner{% endblock %}
{% block content %}
<div class='row text-center'>
    <p>
    Below are some recently uploaded business cards. 
    </p>
</div>
<div class='row'>
    <div class='four columns'>
        <br>
    </div>
    <div class='four columns'>
        <ul>
            {% for card in cards %}
                <li><a href='/show/{{ card._id}}'>{{card.filename }}</a></li>
            {% else %}
                <li><em>No business cards found</em></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class='row'>
    <div class='twelve columns text-center'>
        <a class="button" href="/upload">Upload</a>
    </div>
</div>
{% endblock %}
